


body {
    background-color: #EFEDF8;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.colored {
    color: #746fb8f3;
}

p{
    size: 8px
}

.Maintitle {
    font-size: 34px;
}

.nav_bar {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.nav_links {
    display: flex;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 12px;
    gap: 18px;
    font: medium;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}


li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 15px;
    gap: 15px;
    font: medium;
    list-style: none;
    gap: 10px;
    padding: 10px;
    cursor: pointer;

}

li:hover {
    color: grey;
    transition: 0.3s;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 32px;
}

/* .footer_upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font: medium;
} */

.footer_logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 110px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 38px;
    font-size: 12px;
}

.footer-bottom {
    font-size: 12px;
}

h1 {
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.footer_navigation {
    gap: 18px;
}

.table table-borderless{
display: flex;
justify-content: center;
}

#more {
    display: none;
}

.Mainsection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    height: 600px
}


.container-left {
    max-width: 480px;
}

.container-right {
    padding-top: 67px;
}

.image {
    display: flex;
    justify-content: flex-end;
    width: auto;
}


.myBtn {
    width: 180px;
    height: 50px;
    background: #746fb8f3;
    border: 2px solid #cec4c4;
    box-sizing: border-box;
    border-radius: 10px;
    font: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: bold;
    color: black;
    border-color: black;
    font-size: 15px;
    cursor: pointer;
}